@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats-screen.css";
@import "screens/find.css";

@font-face {
    font-family: 'KakaoBold';
    src: url('../font/KakaoBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'KakaoRegular';
    src: url('../font/KakaoRegular.ttf');
    font-weight: normal;
}

body {
    font-family: 'KakaoRegular', 'KakaoBold', "Anton";
    color: #2e363e;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}