.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600
}

.badge-s {
    background-color: tomato;    
    width: 8px;
    height: 8px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 85%;
    bottom: 95%;
}