
.screen-header{
    padding: var(--horizontal-space);
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}

.screen-header__title {
    font-size: 30px;
    font-weight: 600;
}

.screen-header__icons span {    
    margin-left: 20px;
    position: relative;
    
}